/* if width<=600px */
@media screen and (max-width: 600px) {
  body {
    position: relative;
  }
  .menu {
    display: block;
    cursor: pointer;
  }
  nav {
    padding: 0px 10px;
  }
  .nav-items {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    background: rgb(247, 205, 150);
    padding: 30px;
    flex-direction: column;
    border-radius: 30px;
    transform: scale(0);
    transition: 0.5s;
    transform-origin: left top;
    z-index: 999;
  }
  .show {
    transform: scale(1);
  }
  .banner {
    flex-direction: column;
  }
  .banner-btn-group {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .sale-count-group {
    font-size: 20px;
  }
  .banner-photo img {
    height: 30vh;
    margin-bottom: 70px;
  }
  .rotate-bar {
    transform: rotate(0deg);
  }
  .products-section {
    flex-direction: column;
    gap: 20px;
  }
  .checkout-beans-section {
    padding: 30px;
  }
  .row {
    flex-direction: column;
    gap: 20px;
  }
  .col-content {
    align-items: flex-start;
  }
  .btn-secondary {
    width: 80%;
  }
  .weekend-special-row ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .weekend-products-menu {
    flex-direction: column;
  }
  .quality-products-container {
    flex-direction: column;
  }
  .quality-products-content {
    padding: 0;
  }
  .quality-advertise-row {
    flex-direction: column;
    gap: 20px;
  }
  .newsletter-section {
    padding: 20px;
  }
  .newsletter-container {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .newsletter-form {
    flex-direction: column;
    gap: 10px;
  }
  .footer-info-section {
    flex-direction: column;
    gap: 30px;
  }
  .footer-bar-section {
    flex-direction: column;
    gap: 10px;
  }
}
